/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 28, 2025, 12:34:20 PM
    Author     : eliob
*/

.text, .text-field {
    -fx-font-family: "Awasete Powder";
}

.text-field {
    -fx-backgroud-color: #FFFFFF;
    -fx-border-radius: 1px;
    -fx-border-color: gray;
}

.text-field:focused {
    -fx-border-color: ghostwhite;
}